header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1000;

  .container {
    margin-left: 10rem;
    margin-top: 0;

    h1 {
      text-align: center;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 3rem;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
