<div class="container">

  <div class="jumbotron">
    <p class="lead">
      <button class="btn btn-primary btn-lg" routerLink="./" fragment="tag-0">
        EXPLORE
        <i class="material-icons"> keyboard_arrow_down </i>
      </button>
    </p>
  </div>

  <div *ngFor="let i = index; let content of contents">
    <div class="section"></div>
    <div class="tag" id="tag-{{ i }}">
      <h3><span *ngIf="content.number">{{ content.number }}. </span>{{ content.title }}</h3>
      <a href="#" *ngIf="content.image"><img src="{{ content.image }}" /></a>
      <p>{{ content.section }}</p>
    </div>
    <div class="section"></div>

    <div *ngFor="let j = index; let subContent of content.subContent">
      <div class="tag" id="tag-{{ i }}_{{ j + 1 }}">
        <h4>{{ subContent.number }}. {{ subContent.title }}</h4>
        <p>{{ subContent.subSection }}</p>
      </div>
    </div>
  </div>

</div>
