.container {
  margin-left: 10rem;
  margin-top: 6rem;

  .jumbotron {
    background-image: url('./../../../assets/images/social-media-3758364_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;

    .lead {
      align-self: flex-end;
      width: 100%;
      text-align: center;

      button {
        width: 18vw;
        height: 14vh;
        background-color: white;
        color: black;
        border: none;
        opacity: 0.9;
        display: inline-grid;

        &:hover {
          color: gray;
        }

        &.focus,
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .section {
    height: 30rem;
  }

  .tag {
    padding-top: 3rem;

    h3 {
      text-align: center;
    }

    a>img {
      width: 100%;
      height: 90vh;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

  }
}
