.container {
  margin-left: 10rem;
  margin-top: 6rem;

  .jumbotron {
    &#jumbotron {
      background-image: url('./../../../assets/images/social-media-3758364_1280.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 90vh;
      display: flex;
    }

    &#bottom {
      background-color: transparent;
      margin-top: -17rem;
    }

    .lead {
      align-self: flex-end;
      width: 100%;
      text-align: center;

      button {
        width: 18vw;
        height: 14vh;
        background-color: white;
        color: black;
        border: none;
        opacity: 0.9;
        display: inline-grid;

        &:hover {
          color: gray;
        }

        &.focus,
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .section {
    height: 20rem;
  }

  .tag {
    padding-top: 3rem;

    .contentSection {
      text-align: justify;
      font-size: 1.5rem;
    }

    h1 {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    h2 {
      margin-bottom: 1.5rem;
    }

    ul {
      text-align: justify;
      font-size: 1.5rem;
    }

    a>img {
      width: 100%;
      height: 90vh;
      margin-top: 1rem;
      margin-bottom: 1rem;
      position: relative;
    }

  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
