<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <mat-icon>view_headline</mat-icon>
    <mat-list>
      <li>
        <h3> Intro </h3>
      </li>
      <li *ngFor="let menu of menus">
        <h3>{{ menu.number }}</h3>
        <div *ngFor="let i=index; let menuSubTitle of menu.subTitle">
          <h4>
            {{ i | formatString: '-' }}
            <span class="subTitle">
              {{ menuSubTitle }}
            </span>
          </h4>
        </div>
      </li>
      <li>
        <h3> Conclusion </h3>
      </li>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div>Main content</div>
    <div>Main content</div>

  </mat-sidenav-content>

</mat-sidenav-container>
