<!-- <div class="">
  <div class="row">
    <div class="col-sm-2 d-flex align-items-center side-menu">
      <app-side-menu class="w-100"></app-side-menu>
    </div>
    <div class="col-sm-10 content-page">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-home>loading</app-home> -->


<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value" (mouseleave)="sidenav.toggle()">
    <p>
      <mat-icon (mouseover)="sidenav.toggle()">close</mat-icon> Close
    </p>
    <p>
      <mat-list>
        <mat-list-item *ngFor="let menu of menus">
          <h2 matLine> {{ menu.number }} </h2>
          <h3 matLine> {{ menu.title }} </h3>
          <mat-list-item *ngFor="let subTitle of menu.subTitle">
            <p matLine class="demo-2"> {{ subTitle }} </p>
          </mat-list-item>
        </mat-list-item>
      </mat-list>
    </p>
  </mat-sidenav>

  <mat-sidenav-content (mouseover)="sidenav.toggle()">
    <p>
      <mat-icon>view_headline</mat-icon>
    </p>
    <p>
      <mat-list>
        <mat-list-item>
          <h3> Intro </h3>
        </mat-list-item>
        <mat-list-item *ngFor="let menu of menus">
          <h2>{{ menu.number }}</h2>
          <h2 *ngFor="let i=index, let menuSubTitle of menu.subTitle"> {{ i | formatString: '-' }} </h2>
        </mat-list-item>
        <mat-list-item>
          <h3> Conclusion </h3>
        </mat-list-item>
      </mat-list>
    </p>
  </mat-sidenav-content>

</mat-sidenav-container>
