.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  height: 100vh;
  overflow: hidden;
  width: 6rem;
  left: 2rem;

  span.subTitle {
    display: none;
  }

  &:hover {
    width: 20rem;
    overflow: visible;
    transition: width .2s linear;

    span.subTitle {
      display: initial;
    }
  }
}

li {
  list-style-type: none;
}

.content {
  left: 5rem;
}
