<nav class="main-menu">
  <ul>

    <li>
      <a class="icon" (click)="scrollToTarget('.jumbotron')">
        <i class="material-icons">view_headline</i>
      </a>
    </li>
    <li class="has-subnav" *ngFor="let i = index; let menu of menus">
      <a (click)="scrollToTarget('#tag-' + i)">
        <h3 *ngIf="menu.number">
          {{ menu.number }}
        </h3>
        <span class="nav-text">
          {{ menu.title }}
        </span>
      </a>
      <div *ngFor="let j = index; let menuSubTitle of menu.subTitle">
        <a (click)="scrollToTarget('#tag-' + i + '_' + (j+1))">
          <h4>
            {{ menuSubTitle.number }}
          </h4>
          <span class="nav-text">
            {{ menuSubTitle.title }}
          </span>
        </a>
      </div>
    </li>

  </ul>
</nav>
