.material-icons {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
  width: 60%;
}

.main-menu {
  // border: 1px solid red;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 110px;
  margin-right: 1.5rem;
  overflow: hidden;
  transition: width .4s linear;
  background: white;
  border-right: 1px solid gray;
  opacity: 0.9;
  z-index: 100;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  // border: 1px solid green;
  position: relative;
  display: block;

  >div>a {
    color: black;

    h4 {
      font-size: 14px;
      margin-right: 4rem;
      margin-left: 1rem;
    }
  }
}

.main-menu li>a,
.main-menu li>div>a {
  // border: 1px solid purple;
  color: black;
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  text-decoration: none;
  transition: width .8s linear;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  width: 100%;

  &.icon {
    width: 0%;
  }

  h3 {
    font-size: 18px;
    margin-right: 4.5rem;
    margin-left: 1rem;
  }

  .nav-text {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }
}

.main-menu .material-icons {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: xx-large;
  padding-left: 2rem;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  white-space: nowrap;
  padding-left: 1rem;
  width: 100%;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li>a:hover,
.main-menu li>div>a:hover,
nav.main-menu li.active>a,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: white;
  background-color: black;
  transition: width 0.8s linear;
}
